<!DOCTYPE html>
<html>
  <head>
    <title>Out of Guesses</title>
  </head>
  <body>
    <h1>You've run out of guesses.</h1>
    <p>Name: {{ name }}</p>
    <p>Difficulty: {{ difficulty }}</p>
    <p>Remaining Bet Points: {{ bet_points }}</p>
    {% if not next_round %} {% if error_message %}
    <p style="color: red">{{ error_message }}</p>
    {% endif %}
    <form method="post">
      <label for="save_bet"
        >Do you want to try to save your bet? If you try, you have a 50% chance
        to save your bet or lose another bet point you put.</label
      ><br />
      <input type="radio" id="yes" name="save_bet" value="yes" />
      <label for="yes">Yes</label><br />
      <input type="radio" id="no" name="save_bet" value="no" />
      <label for="no">No</label><br />
      <button type="submit">Submit</button>
    </form>
    {% else %}
    <p>{{ message }}</p>
    <a href="{{ url_for('place_bet') }}">Start New Round</a>
    <a href="{{ url_for('end_game') }}">Finish and Save Score</a>
    {% endif %}
  </body>
</html>
